@import "src/scss/mixins";
@import "src/scss/variables";

.root {
    margin: 10px;
    @include breakpoint("desktop") {
        margin: 15px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;

        @include breakpoint("desktop") {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
