@import "src/scss/mixins";
@import "src/scss/variables";

.root {
    margin-top: 14px;
    @include breakpoint("tablet") {
        margin-top: 20px;
    }
    @include breakpoint("desktop") {
        margin-top: 5px;
        margin-right: 40px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        @include breakpoint("tablet") {
            grid-template-columns: repeat(3, 1fr);
        }
        @include breakpoint("desktop") {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
