@import "src/scss/mixins";
@import "src/scss/variables";

.root {
    background: get-color(paragraph, base);
    border-radius: 2px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: get-color(background, secondary);
    cursor: pointer;
    position: relative;

    @include breakpoint("tablet") {
        height: 240px;
    }

    @include breakpoint("desktop") {
        height: 320px;
    }

    &:hover {
        box-shadow: inset 10px 0px 40px 0px rgba(255, 255, 255, 0.1);
    }

    &__saletag {
        text-align: center;
        color: get-color(paragraph, base);
        box-shadow: 0 0 20px #eee;
        background-image: linear-gradient(to right, #000000 0%, #53346d 85%);
        transition: 0.5s;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 4px;
        border-radius: 3px;
        top: 3%;
        left: 67%;
        overflow: hidden;

        @include breakpoint("tablet") {
            top: 2%;
            left: 64%;
        }
    }

    &__header {
        margin: 8px 0px;
    }

    & p {
        text-align: center;
    }

    &__crossed {
        text-decoration: line-through;
    }

    &__price {
        text-align: center;

        &.withsale {
            display: flex;
            justify-content: space-between;
            width: 55%;

            @include breakpoint("tablet") {
                width: 35%;
            }
        }
    }

    &__shortdescription p:not(:last-child) {
        margin-bottom: 2px;
        @include breakpoint("desktop") {
            margin-bottom: 5px;
        }
    }
}
