@import "src/scss/mixins";
@import "src/scss/variables";

.root {
    margin: 0 auto;
    width: inherit;
    height: 800px;
    background-image: linear-gradient(
        to right,
        #1e212c 0%,
        rgba(242, 0, 255, 0.2) 50%,
        #1e212c 100%
    );
}
