@import "src/scss/mixins.scss";
@import "src/scss/variables";

.root {
    padding: 10px 0 0 0;
    min-height: 62vh;
    margin-bottom: 6vh;

    &__formwrapper {
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
    }
    &__buttonelement {
        height: 30px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px 7px;

        @include breakpoint("tablet") {
            height: 40px;
            width: 90px;
            border-radius: 15px;
        }

        @include breakpoint("desktop") {
            margin: 20px 40px;
            height: 40px;
            width: 150px;
            border-radius: 15px;
        }

        &.active {
            background: get-color(primary, secondary);
            transition: all $am-transition-time ease-out;
            box-shadow: 0px 8px 10px get-color(shadow, base),
                0px -8px 10px get-color(shadow, base),
                inset 0 2px 0 get-color(shadow, secondary);
        }

        &.inactive {
            transition: all $am-transition-time ease-out;
            background: get-color(body-0, base);
            box-shadow: 0px 2px 10px get-color(shadow, secondary),
                0px -2px 10px get-color(shadow, secondary);
            &:hover {
                box-shadow: 0px 5px 10px get-color(shadow, secondary),
                    0px -5px 10px get-color(shadow, secondary),
                    inset 0 15px 15px get-color(shadow, base);
            }
        }
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 8px;
        border-radius: 8px;

        @include breakpoint("desktop") {
            gap: 16px;
        }
    }

    &__procesfilter {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;
        margin: 17% 0% 3% 0%;
        @include breakpoint("tablet") {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 2% 0% 3% 0%;
        }
    }

    &__singlefilterwrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        @include breakpoint("tablet") {
            flex-direction: row;
        }
    }

    &__inscription {
        z-index: 1000;
        background-color: get-color(background, secondary);
        padding: 1px;
    }

    &__resultsammount {
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoint("tablet") {
            width: auto;
        }
    }

    &__queries {
        width: 100%;
        grid-column: span 2;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @include breakpoint("tablet") {
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
        }
    }

    &__thelist {
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        row-gap: 20px;
        @include breakpoint("tablet") {
            grid-template-columns: repeat(3, 1fr);
            margin-right: 6vw;
        }
        @include breakpoint("desktop") {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
