@import "src/scss/mixins";

.root {
    min-height: 80vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__titlewrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__registation__link {
        text-decoration: underline get-color(primary, base);

        @include breakpoint("tablet") {
            padding-left: 2vw;
        }

        &:hover {
            text-decoration: none;
        }
    }

    &__entrance {
        margin-left: 2vw;
    }
}
