@import "src/scss/mixins";
@import "src/scss/variables";

.root {
    background: #fff;
    transform: scale(1.8);
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.85);
    opacity: 0.8;
    box-shadow: 0 0 5px get-color(paragraph, secondary);

    @include breakpoint("tablet") {
        position: absolute;
        top: 175px;
        right: 20px;
        width: 55px;
        height: 55px;
        transform: scale(1);
    }

    @include breakpoint("desktop") {
        top: 225px;
        right: 90px;
        width: 60px;
        height: 60px;
        transform: scale(1.3);
    }

    &:hover {
        box-shadow: 0 0 11px get-color(primary, secondary);
    }

    &__cart__quantity {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 30px;
        left: 35px;
        border-radius: 50%;
        background-color: get-color(primary, base);
        box-shadow: 0 0 10px get-color(primary, secondary);
        padding: 2px;
        box-sizing: content-box;
        @include breakpoint("tablet") {
            box-shadow: inset 0 0 20px get-color(primary, secondary),
                0 0 20px get-color(primary, secondary);
            width: 17px;
            height: 17px;
            top: 35px;
            left: 45px;
        }
    }

    &__centrise__quantity {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1.5px;

        @include breakpoint("desktop") {
            padding: 0;
        }
    }
}
