@import "src/scss/mixins";

.root {
    padding: 40px 0 0 0;
    min-height: 70vh;
    &__line {
        border: 1px solid get-color(background, base);
        background-color: get-color(background, base);
    }

    &.last {
        padding: 60px 0;
    }
}
