@import "src/scss/mixins";

.root {
    min-height: 80vh;
    overflow: hidden;
    &__header {
        margin: 3.65% 2%;
    }

    &__registation__link {
        padding-left: 2vw;
        text-decoration: underline get-color(primary, base);

        &:hover {
            text-decoration: none;
        }
    }
}
