@import "src/scss/mixins";
@import "src/scss/variables";

.root {
    margin-top: 3vh;
    margin-bottom: 3vh;

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        row-gap: 20px;
        @include breakpoint("tablet") {
            grid-template-columns: repeat(3, 1fr);
            margin-right: 6vw;
        }
        @include breakpoint("desktop") {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
